<div class="row">
  <div class="col-12">
    <h1>University Management Information System</h1>
    <p class="lead">Welcome to the UMIS Dashboard</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= raw @dashboard_data %>
  </div>
</div>
