<div class="row">
  <div class="col-12">
    <%= raw @page_content %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', initXmlFramework);
  if (document.readyState !== 'loading') initXmlFramework();
</script>
